img {
  width: 150px;
  height: auto;
}
.parrafo {
  color: yellow;
}
img:hover {
  width: 200px;
  height: auto;
  transition: ease 4s;
}
* {
  background-color: chocolate;
  font-family: cursive;
}

h1 {
  font-size: 30px;
  color: beige;
}
